.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {

}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #0B744F;
    border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #083D2E;
}