@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer theme, base, components, utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: transparent;
    }
}